@import "variables";

$block_theme-color: $color_mtrl-blue;
$block_header-color: $color_mtrl-green;

.block {
    max-width: 1151px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;

    .block-header {
        padding: 1em;
        margin: 0 0 20px;
        border-bottom: 1px solid #aaa;

        .subtitle {
            font-weight: normal;
        }
    }

    .block-content {
        padding: 20px;
        box-sizing: border-box;
    }
}

.info-block {
    text-align: left;
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}

.sign-in-wrapper, .pin-wrapper {
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}

.pin-verify-wrapper {
    display: none;
    visibility: none;
    text-align: center;
}

.button-wrapper {
    text-align: center;
}

.pin-wrapper {
    display: none;

    .pin-input, .pin-button {
        font-size: 20px;
    }

    .pin-input {
        border-radius: 5px;
        padding: 0.25em 1em;
        border: 1px solid #ddd;
    }

    .pin-button {
        background: $block_theme-color;
        border: none;
        padding: 0.25em 1em;
        color: #fff;
        border-radius: 5px;
    }
}

button.sign-in {
    font-size: 24px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background: $block_theme-color;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #fff;
    box-shadow: 0 4px darken($block_theme-color, 10%);
    transition: all 200ms ease-out;

    &:hover {
        background: lighten($block_theme-color, 5%);
    }

    &:active {
        transform: translateY(4px);
        box-shadow: 0 0 darken($block_theme-color, 10%);
    }
}

.add-topic-btn {
    margin-top: 10px;
}

.topic-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.custom-topics-list {
    padding: 10px 20px 0 20px;

    .topic {
        display: flex;

        .name, .pattern {
            display: block;
        }

        .name {
            flex-basis: 100px;
        }
    }
}

.custom-topics {
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px;
    box-sizing: border-box;

    label {
        display: block;
        margin: 10px 0 0;
    }

    input[type='text'] {
        width: 90%;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #ccc;

        &.pattern {
            font-family: monospace;
        }
    }
}

#chart_div {
    height: 600px;
    width: 100%;
}

.loading-bar-wrapper {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    background: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(100%);
    will-change: transform;
    transition: transform 300ms linear;

    &.open {
        transform: translateY(0%);
    }

    .loading-text {
        text-align: center;
        padding: 5px 0;
    }

    .bar-wrapper {
        background: #666;
        width: 100%;
        height: 10px;
        position: relative;

        .loading-bar {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 0%;
            background: #4CAF50;
            transition: width 400ms ease-out;
        }
    }
}

.topics-wrapper {
    display: flex;

    .custom-topics-list, .custom-topics {
        flex-basis: 50%;
    }
}